// Cores
$primary-color: #1a3a6e;
$secondary-color: #e9b949;
$dark-color: #0a192f;
$light-color: #f8f9fa;

// Espaçamentos
$spacing-unit: 8px;
$max-width: 1400px;

// Breakpoints
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$gray-color: #6c757d;
